/* Roboto font for material-ui */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html {
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  display: block;
  text-decoration: none;
}
