/* Roboto & Material Icons font for material-ui */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons');

html {
  font-family: 'Roboto', sans-serif;
}

.menu-item-link {
  display: block;
  text-decoration: none;
}
